body {
    margin: 0;
    /*background-color: #121212;*/
    background-image: url('resources/images/blackorange.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    overflow: hidden;
    background-color: #1a1a1a;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 8px black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;;
}

.navbar a:hover {
    background-color: #eb7e02;
    color: black;
}

.navbar a span {
    vertical-align: middle;
}

.navbar a span.material-icons-outlined {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar .login {
    float: right;
    margin-right: 20px;
  }
  
  .navbar .login span {
    vertical-align: middle;
  }

.active {
    background-color: #eb7e02;
    color: black;
}

.material-icons-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.company-info {
    background-color: #1a1a1a;;
    color: #fff;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 2%;
    border-radius: 10px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  
  .text {
    flex: 1;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: #1a1a1a;
    font-size: 60px;
    margin-left: 36px;
  }

  @media (max-width: 768px) {
    .block {
      flex-direction: column;
    }
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
  
.header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
  
.buttons {
    display: flex;
    gap: 1rem;
}
  
.signup-button,
.products-button {
    padding: 0.5rem 1rem;
    border: solid 4px;
    border-color: #1a1a1a;
    border-radius: 2rem;
    background-color: #eb7e02;
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
.signup-button:hover,
.products-button:hover {
    background-color: #333;
    color: #fff;
}